# application-dev.yml

spring:

  datasource:
    url: jdbc:mysql://localhost:3406/zzirit-dev?useSSL=false&serverTimezone=Asia/Seoul&allowPublicKeyRetrieval=true

  data:
    redis:
      host: localhost
      port: 6479

custom:
  file:
    upload-dir: uploads/
  site:
    domain: localhost
    back-url: http://localhost:8080
    front-url: http://localhost:3000

oauth2:
  naver:
    redirect-uri: http://localhost:8080/login/oauth2/code/naver
  google:
    redirect-uri: http://localhost:8080/login/oauth2/code/google
  kakao:
    redirect-uri: http://localhost:8080/login/oauth2/code/kakao

server:
  forward-headers-strategy: framework