# application.yml

spring:
  profiles:
    active: dev
    include: secret

  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    database: mysql
    database-platform: org.hibernate.dialect.MySQLDialect
    generate-ddl: true
    hibernate:
      ddl-auto: create

  decorator:
    datasource:
      p6spy:
        enable-logging: true

  mail:
    host: smtp.gmail.com
    port: 587
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
            required: true

custom:
  upload:
    max-image-size: 5MB
    max-file-size: 20MB

logging:
  level:
    org:
      hibernate:
        SQL: debug